
@{
    ViewData["Title"] = "Decks";
}

<article id="app" class="row">
    <header class="col-md-4">
        <h3>{{message}}</h3>
        <nav>
            <ul class="list-group">
                <li v-for="deck in decks" v-on:click="fetchDeckDetails(deck)" :class="getDeckClass(deck)" style="cursor:pointer">
                    <span>{{deck.name}}</span>
                </li>
            </ul>
        </nav>
    </header>
    <div v-if="currentDeck" class="col-md-8">
        <h3>Details</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label small">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="currentDeck.name" :readonly="isReadOnly">
                </div>
            </div>
        </form>
        <button v-on:click="toEditMode(true)" v-if="isReadOnly" class="btn btn-primary">Edit</button>
        <button v-on:click="toEditMode(false)" v-if="isReadOnly" class="btn btn-warning">New</button>
        <button v-on:click="deleteDeck()" v-if="isReadOnly" class="btn btn-danger">Delete</button>
        <button v-on:click="save" v-if="!isReadOnly" class="btn btn-primary">Save</button>
        <button v-on:click="cancel" v-if="!isReadOnly" class="btn btn-default">Cancel</button>
    </div>
</article>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="~/js/decks.js"></script>
}